.logo {
    width: auto;
    height: 37px;
    text-align: left;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px !important;
    position: absolute;
    bottom: -5px;
    right: calc(50% - 37px);;
}
.logo-text {
    display: inline-block;
    color: #000;
    font-size: 30px !important;
    font-weight: 600 !important;
    font-family: 'Sniglet', cursive !important;
    margin-left: 2px !important;
    color: white;
}
.reveal section img {
    background: white;
}
p.small{
    font-size: 16pt;
}
.img-circle{
    width: 100px;
    border-radius: 50%;
    border: 1px solid #222 !important;
}
.reveal .img-100{
    max-height: 65vh;
}
.reveal blockquote {
    font-size: 13pt;
    padding: 0;
}
.reveal blockquote p{
    line-height: 5pt;
    font-weight: bold;
    color: #cc0225;
}
.author .img-circle {
    margin: 0;
}
.author {
    font-size: 22pt !important;
}
p.author {
    margin: 0;
}

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reveal table th, .reveal table td{
    padding: 0;
    vertical-align: middle;
}
.reveal table{
    margin: 0;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Sniglet', cursive;
}
.reveal h4{
    color: #ffa630;
}
.reveal .progress {
    color: #ffa630;
}
blockquote {
    color: #00a7e1;
}
ul li {
    font-size: 22px !important;
}

.reveal pre code {
    max-height: 603px;
}
.reveal a {
    color: #00a7e1;
}
.logo svg {
    height: 32px;
    width: 32px;
}
.logo svg path{
    fill: #07d765;
}
